In [19]:
import numpy as np
import pandas as pd
import math

In [3]:
#import data
data = pd.read_csv("./data/combined_data_1.txt", header = None, names = ['cust_id', 'rating', 'date'])

In [13]:
print("full dataset:" + str(data.shape))
# To build cleaning logic, take the first 100,000 rows (0.5%)
df = data[:100000]
print("for cleaning logic purposes: " + str(df.shape))

full dataset:(24058263, 3)
for cleaning logic purposes: (100000, 3)

In [15]:
print(df.head(10))

   cust_id  rating        date
0       1:     NaN         NaN
1  1488844     3.0  2005-09-06
2   822109     5.0  2005-05-13
3   885013     4.0  2005-10-19
4    30878     4.0  2005-12-26
5   823519     3.0  2004-05-03
6   893988     3.0  2005-11-17
7   124105     4.0  2004-08-05
8  1248029     3.0  2004-04-22
9  1842128     4.0  2004-05-09

In [31]:
#print(df["rating"].where())
print(df[df["rating"].isnull()])

      cust_id  rating date
0          1:     NaN  NaN
548        2:     NaN  NaN
694        3:     NaN  NaN
2707       4:     NaN  NaN
2850       5:     NaN  NaN
3991       6:     NaN  NaN
5011       7:     NaN  NaN
5105       8:     NaN  NaN
20016      9:     NaN  NaN
20112     10:     NaN  NaN
20362     11:     NaN  NaN
20561     12:     NaN  NaN
21108     13:     NaN  NaN
21234     14:     NaN  NaN
21353     15:     NaN  NaN
21644     16:     NaN  NaN
24344     17:     NaN  NaN
31453     18:     NaN  NaN
42176     19:     NaN  NaN
42716     20:     NaN  NaN
42833     21:     NaN  NaN
43052     22:     NaN  NaN
43256     23:     NaN  NaN
43872     24:     NaN  NaN
45206     25:     NaN  NaN
46414     26:     NaN  NaN
52276     27:     NaN  NaN
52550     28:     NaN  NaN
92303     29:     NaN  NaN
92827     30:     NaN  NaN

cust_id    False
rating      True
date        True
dtype: bool